@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {

  --font-orbitron: 'Orbitron', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  
  
}

/* :root {
  --background: 26 100% 95%;
  --foreground: 26 5% 0%;
  --card: 26 50% 90%;
  --card-foreground: 26 5% 10%;
  --popover: 26 100% 95%;
  --popover-foreground: 26 100% 0%;
  --primary: hsl(26, 100%, 50%);
  --primary-foreground: 0 0% 100%;
  --secondary:  hsl(0, 38%, 91%);
  --secondary-foreground: 0 0% 0%;
  --muted: -12 30% 85%;
  --muted-foreground: 26 5% 35%;
  --accent: -12 30% 80%;
  --accent-foreground: 26 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 26 5% 90%;
  --border: 26 30% 50%;
  --input: 26 30% 18%;
  --ring: 26 100% 50%;
  --radius: 0.5rem;
 } */

  @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

 .dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);

}

 @layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}



@theme {
  /* 1. Dark Brown-Black background */
  --color-dark-brown: hsl(30, 20%, 10%);

  /* 2. Primary accent (Sunset Orange) */
  --color-accent-orange: #FF6F00;
  --color-text:#FEF7F0;

  /* 3. Secondary accent (Royal Purple) */
--color-accent-red: #C71585; 

}


@layer base {

  h1 { @apply  text-[2rem] lg:text-[3rem] leading-tight font-bold; }
  h2 { @apply text-[2.25rem] leading-snug font-semibold; }
  h3 { @apply text-[1.875rem] leading-normal font-medium; }
  h4 { @apply text-[1.5rem] leading-snug font-medium; }
  p { @apply text-[0.9rem] lg:text-[1rem] leading-snug ; }


}

  body {
    @apply bg-dark-brown text-text;
  }


.orbitron-font {
  font-family: var(--font-orbitron);
}
.maxWidth-container{
  @apply max-w-[1346px] px-3 sm:px-6
}

.uni-padding-y{
  @apply py-8 md:py-16 lg:py-24
}
.uni-padding-b{
  @apply pb-8 md:pb-16 lg:pb-24
}

 .bg-gradient-left {
  background: radial-gradient(20% 40% at 20% 40%, #eb85c268 10%, transparent );
  animation: moveGradient 5s infinite alternate;
 }
 .bg-gradient-right {
  background: radial-gradient(20% 40% at 80% 40%, #ebb68568 10%, transparent );
  animation: moveGradient 5s infinite alternate;
 }


.our_service_left > p{
@apply bg-accent-red text-text px-4 py-2 rounded-full w-max shadow-[0_0_13px_#ff4d4d] lg:text-[1rem] 

}
.our_service_leftm > p{
@apply bg-accent-red text-text px-4 py-2 rounded-full  shadow-[0_0_13px_#ff4d4d] lg:text-[1rem] 

}

.our_service_left > p:nth-child(even){
  @apply bg-text text-black relative translate-x-[90%]

}
.our_service_right > p{
@apply bg-accent-red text-text px-4 py-2 rounded-full w-max shadow-[0_0_13px_#ff4d4d] lg:text-[1rem] 

}
.our_service_rightm > p{
@apply bg-accent-red text-text px-4 py-2 rounded-full  shadow-[0_0_13px_#ff4d4d] lg:text-[1rem] 

}

.our_service_right > p:nth-child(even){
  @apply bg-text text-black relative -translate-x-[80%]

}

   @keyframes marquee {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }
            .animate-marquee {
          animation: marquee 20s linear infinite;
        }
  @keyframes marquee1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
    
         .animate-marquee1 {
          animation: marquee1 10s linear infinite;
        }


.pathy{
clip-path: polygon(100% 50%, 0 0, 0 100%);

}
.left-pathy{
clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

@keyframes enlarge {
  0% {
    /* width: 12px;  issue was here*/
     transform: scaleX(1);
     animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  100% {
    /* width: 0px; */
    transform: scaleX(0);
  
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.shadow {
  display: inline-block;
  z-index: 0;
  animation: enlarge 0.5s infinite alternate;
  background: white;
  /* contain: strict; */

}